h3 {
    color: yellow;
    padding: 10px;
    background-color: aliceblue;
}

h2{
    color: brown;
    background-color: aquamarine;
    padding: 20px;
}
a[target]{
    background-color: yellowgreen;
}

.flex{
    display: flex;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    background-color: aquamarine;

}
nav{
    display: flex;
    gap:10px
}